@import "tailwindcss";

@theme {
  --color-brand-red: #EE0906;
  --color-brand-blue: #012F91;
  --color-brand-dark: #2B2A28;
  --color-brand-light: #BFE4FE;
  --color-brand-sky: #86BEDF;
  --color-brand-ocean: #459AD0;
  --color-brand-navy: #003B73;
}
button{
    cursor: pointer;
}